* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  --reach-dialog: 1;
}

:root {
  --red-hue: 0deg;
  --intense: 100% 50%;

  --red: hsl(var(--red-hue) var(--intense));
  --orange: hsl(
    calc(var(--red-hue) + 20deg)
    var(--intense)
  );
  --yellow: hsl(
    calc(var(--red-hue) + 40deg)
    var(--intense)
  );
  --pinkred: hsl(
    calc(var(--red-hue) - 20deg)
    var(--intense)
  );
  --pink: hsl(
    calc(var(--red-hue) - 40deg)
    var(--intense)
  );

  --gray: 270deg;
  --color-gray-100: hsl(var(--gray) 20% 95%);
  --color-gray-300: hsl(var(--gray) 10% 75%);
  --color-gray-500: hsl(var(--gray) 5% 50%);
  --color-gray-700: hsl(var(--gray) 10% 30%);
  --color-gray-900: hsl(var(--gray) 15% 15%);

  --primary: 50deg 90%;
  --color-primary: hsl(var(--primary) 50%);
  --color-primary-light: hsl(var(--primary) 70%);
  --color-primary-dark: hsl(var(--primary) 30%);
  --color-primary-alpha-300: hsl(var(--primary) 50% / 0.3);
  --color-primary-alpha-500: hsl(var(--primary) 50% / 0.5);
  --color-primary-alpha-700: hsl(var(--primary) 50% / 0.7);

  --secondary: 330deg 75%;
  --color-secondary: hsl(var(--secondary) 50%);
  --color-secondary-light: hsl(var(--secondary) 70%);
  --color-secondary-dark: hsl(var(--secondary) 30%);
  --color-secondary-alpha-300: hsl(var(--secondary) 50% / 0.3);
  --color-secondary-alpha-500: hsl(var(--secondary) 50% / 0.5);
  --color-secondary-alpha-700: hsl(var(--secondary) 50% / 0.7);
}
